/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/*
colors used

Text Color (dark grey): #2b2b2b;
Primary Color (purple): #357b70;
Secondary Color (orange): #e0b354;
visited color: #05676e;
active-color: #489c79
*/

:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --light-grey: #d3d3d3;
  --white: #fff;
  --visited-color: #05676e;
  --active-color: #489c79;
  --button-border-bottom-color: rgba(0, 0, 0, 0.3);
  --sun-animation-0: #edc655;
  --sun-animation-50: #fcffad;
  --sun-animation-100: #f76414;
  --bold: 700;
  --standard: 400;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--standard);
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--bold);
}

h2 {
  font-size: 24px;
  font-weight: var(--bold);
}

h3 {
  font-size: 18px;
  font-weight: var(--bold);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--visited-color);
}

a:hover,
a:focus {
  /* no undlerlining when hovering over a link */
  text-decoration: none;
}

a:active {
  /* selected link */
  color: var(--active-color);
}

button,
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: var(--white);
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;

  /* gives button a botom border with width 2px, type solid, and color in RGBA format; RGBA to allow Alpha channel to regulate transparency; 1 is totally opaque, 0 is totally transparent */
  border-bottom: 2px solid var(--button-border-bottom-color);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering */
  cursor: pointer;
  opacity: 0.8;
}

section {
  display: block;
}

.button__secondary {
  background-color: var(--secondary-color);
  color: var(--dark-grey);
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list__item--active {
  text-decoration: none;
}

.work-section {
  padding: 10px;
  margin: 10px;
}

.skills-section {
  padding: 10px;
  margin: 10px;
}

.experience-table {
  text-align: left;
}

td,
th {
  padding-left: 15px;
}

.contact-section {
  padding: 10px;
  margin: 10px;
}

.intro-section {
  padding: 10px;
  margin: 10px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__item {
  max-width: 300px;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
  max-width: none;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.profile__portrait {
  float: left;
  width: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

/* Grid fallback */

.grid__item {
  display: inline-block;
  width: 33%;
}

/* Styling CSS grid */

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}

.grid__item {
  background-color: var(--light-grey);
  padding: 10px;
  margin: 0;
  width: auto;
}

.page__footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.social__icon {
  height: 30px;
  width: 30px;
  margin: 0px 10px 0px 10px;
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 10px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

.stamford-illustration {
  display: block;
  margin: auto;
}

.app-screenshot {
  max-width: 250px;
}